n8n/rivalradar-workflow.json
{
  "name": "RivalRadar - AI Rakip Analiz Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rivalradar-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d7ec0375-0648-4ccc-9d9a-50bb49d1c389",
      "name": "Analiz Tetikleyici",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "81ea2280-49ab-45a8-914e-4ac6f3e7fff3",
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body ?? raw;\n\nconst company_name = (body.company_name ?? '').trim();\nconst sector = (body.sector ?? '').trim();\nconst report_id = body.report_id ?? '';\nconst user_id = body.user_id ?? '';\n\nif (!company_name || !sector) {\n  throw new Error('company_name ve sector zorunludur');\n}\n\nreturn [{ json: { company_name, sector, report_id, user_id } }];"
      },
      "id": "61be8b0a-f4ba-4aee-b324-74d98288bce2",
      "name": "Input Dogrula",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [256, 0]
    },
    {
      "parameters": {
        "jsCode": "const { company_name, sector, report_id, user_id } = $input.first().json;\n\nconst prompt = `Find competitors of \"${company_name}\" in the \"${sector}\" sector.\n\nReturn ONLY valid JSON, no other text:\n{\"competitors\":[{\n  \"name\":\"Company Name\",\n  \"website\":\"https://example.com\",\n  \"type\":\"direct\",\n  \"description\":\"What they do in 2 sentences.\",\n  \"founded\":2015,\n  \"headquarters\":\"City, Country\",\n  \"employeeRange\":\"51-200\",\n  \"fundingStage\":\"series-a\",\n  \"keyFeatures\":[\"feature1\",\"feature2\",\"feature3\"],\n  \"pricing\":{\"model\":\"freemium\",\"tiers\":[{\"name\":\"Free\",\"price\":\"$0\",\"features\":[\"f1\"]},{\"name\":\"Pro\",\"price\":\"$29/mo\",\"features\":[\"f1\",\"f2\"]}],\"hasFreeTrial\":true},\n  \"targetAudience\":\"Who they target in 1-2 sentences.\",\n  \"sentimentScore\":7,\n  \"strengths\":[\"strength1\",\"strength2\",\"strength3\"],\n  \"weaknesses\":[\"weakness1\",\"weakness2\",\"weakness3\"],\n  \"techStack\":[\"React\",\"AWS\"],\n  \"reviewSummary\":\"Brief user sentiment summary.\"\n}]}\n\nRules:\n- 5 direct competitors + 2 indirect competitors (7 total)\n- type: \"direct\" or \"indirect\"\n- founded: year as integer or null\n- employeeRange: \"1-50\"|\"51-200\"|\"201-500\"|\"501-1000\"|\"1000+\"|\"unknown\"\n- fundingStage: \"bootstrapped\"|\"seed\"|\"series-a\"|\"series-b\"|\"series-c+\"|\"public\"|\"unknown\"\n- sentimentScore: integer 1-10\n- Only real, known companies`;\n\nreturn [{\n  json: {\n    company_name, sector, report_id, user_id,\n    requestBody: {\n      model: 'llama-3.3-70b-versatile',\n      messages: [\n        { role: 'system', content: 'You are a competitive intelligence expert. Always respond with valid JSON only, no markdown, no explanation. All text values in your JSON response MUST be in English.' },\n        { role: 'user', content: prompt }\n      ],\n      temperature: 0.1,\n      max_tokens: 2000,\n      response_format: { type: 'json_object' }\n    }\n  }\n}];"
      },
      "id": "561e9b4b-c616-4834-95a5-f2fa74ce8f4d",
      "name": "Agent1 Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": { "timeout": 30000 }
      },
      "id": "eaeeaaf4-92c9-416e-b66a-44e02c756c98",
      "name": "Agent1 - Rakip Kesfi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [752, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "T958LCNHrLzsOUoY",
          "name": "Groq API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const httpResponse = $input.first().json;\nconst prev = $('Agent1 Prompt').item.json;\n\nlet competitors;\ntry {\n  const text = httpResponse.choices[0].message.content;\n  competitors = JSON.parse(text).competitors;\n  if (!Array.isArray(competitors) || competitors.length === 0) {\n    throw new Error('competitors array is empty or missing');\n  }\n} catch(e) {\n  throw new Error('Agent1 parse error: ' + e.message);\n}\n\nconst { company_name, sector, report_id, user_id } = prev;\nconst now = new Date().toISOString();\n\nconst prompt = `You have competitor data for \"${company_name}\" in \"${sector}\":\n${JSON.stringify(competitors)}\n\nGenerate a complete competitive analysis report. Return ONLY valid JSON:\n{\n  \"companyName\":\"${company_name}\",\n  \"sector\":\"${sector}\",\n  \"generatedAt\":\"${now}\",\n  \"threatLevel\":\"medium\",\n  \"executiveSummary\":\"3-4 sentences summary of competitive landscape.\",\n  \"competitiveLandscapeSummary\":\"2-3 sentences overview.\",\n  \"competitors\":[ /* include ALL input competitors with all their original fields */ ],\n  \"swot\":{\n    \"strengths\":[\"strength from ${company_name}\\'s perspective vs competitors (4-5 items)\"],\n    \"weaknesses\":[\"weakness vs competitors (4-5 items)\"],\n    \"opportunities\":[\"market opportunity (4-5 items)\"],\n    \"threats\":[\"threat from competitors (4-5 items)\"]\n  },\n  \"marketPositions\":[\n    {\"competitor\":\"Name\",\"pricePosition\":\"mid-range\",\"marketShare\":\"challenger\",\"primaryAdvantage\":\"brief advantage\"}\n  ],\n  \"featureGaps\":[\n    {\"feature\":\"Feature Name\",\"competitorsHavingIt\":[\"CompA\"],\"priority\":\"high\",\"reasoning\":\"why important\"}\n  ],\n  \"winLossScenarios\":[\n    {\"scenario\":\"Customer needs X\",\"outcome\":\"win\",\"reason\":\"because Y\",\"competitorInvolved\":\"CompA\"}\n  ],\n  \"recentIntelligence\":[\n    {\"company\":\"Name\",\"event\":\"Event title\",\"summary\":\"Brief summary\",\"date\":\"2024-01-15\",\"type\":\"product\",\"impact\":\"medium\"}\n  ],\n  \"reviewInsights\":[\n    {\"company\":\"Name\",\"sentimentScore\":7,\"reviewSummary\":\"Summary\",\"topPraises\":[\"praise1\"],\"topComplaints\":[\"complaint1\"]}\n  ],\n  \"recommendations\":[\n    {\"title\":\"Action title\",\"description\":\"What to do\",\"priority\":\"high\",\"timeframe\":\"1-3 months\"}\n  ],\n  \"strategicRecommendations\":[\n    {\"title\":\"Strategic action\",\"description\":\"Details\",\"priority\":\"high\",\"timeframe\":\"3-6 months\"}\n  ],\n  \"disclaimer\":\"This report was AI-generated. Verify before making decisions.\"\n}\n\nRules:\n- threatLevel: \"low\"|\"medium\"|\"high\"|\"critical\"\n- pricePosition: \"budget\"|\"mid-range\"|\"premium\"|\"enterprise\"\n- marketShare: \"leader\"|\"challenger\"|\"follower\"|\"niche\"\n- priority: \"critical\"|\"high\"|\"medium\"|\"low\"\n- timeframe: \"1-3 months\"|\"3-6 months\"|\"6-12 months\"\n- outcome: \"win\"|\"loss\"\n- Include 3-5 items for featureGaps, winLossScenarios, recentIntelligence\n- Include 3 recommendations and 3 strategicRecommendations\n- reviewInsights: one entry per competitor`;\n\nreturn [{\n  json: {\n    company_name, sector, report_id, user_id,\n    requestBody: {\n      model: 'llama-3.3-70b-versatile',\n      messages: [\n        { role: 'system', content: 'You are a strategic business analyst. Always respond with valid JSON only, no markdown, no explanation. All text values in your JSON response MUST be in English.' },\n        { role: 'user', content: prompt }\n      ],\n      temperature: 0.15,\n      max_tokens: 3500,\n      response_format: { type: 'json_object' }\n    }\n  }\n}];"
      },
      "id": "b28d49f8-ec74-49fc-ae08-bb5b2cd28888",
      "name": "Agent2 Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": { "timeout": 55000 }
      },
      "id": "cfbd692c-1ef3-4be6-93a6-ef829e4a05b8",
      "name": "Agent2 - Strateji ve Rapor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1264, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "T958LCNHrLzsOUoY",
          "name": "Groq API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const httpResponse = $input.first().json;\n\nlet reportData;\ntry {\n  const text = httpResponse.choices[0].message.content;\n  reportData = JSON.parse(text);\n} catch(e) {\n  return [{ json: { success: false, error: 'Final rapor parse hatasi: ' + e.message } }];\n}\n\nif (!reportData.companyName || !reportData.competitors || !reportData.swot) {\n  return [{ json: { success: false, error: 'Rapor yapisi eksik alanlar iceriyor: ' + JSON.stringify(Object.keys(reportData)) } }];\n}\n\nreportData.threatLevel = reportData.threatLevel || 'medium';\nreportData.featureGaps = reportData.featureGaps || [];\nreportData.winLossScenarios = reportData.winLossScenarios || [];\nreportData.recentIntelligence = reportData.recentIntelligence || [];\nreportData.reviewInsights = reportData.reviewInsights || [];\nreportData.strategicRecommendations = reportData.strategicRecommendations || [];\nreportData.recommendations = reportData.recommendations || [];\nreportData.disclaimer = reportData.disclaimer || 'This report was AI-generated. Verify before making decisions.';\n\nreturn [{ json: { success: true, data: reportData } }];"
      },
      "id": "88875fa5-3aeb-4fd0-9f5f-633b6a5a61cd",
      "name": "Yanit Formatla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1504, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c3d86134-07d0-4e9b-a7cc-7e17c737a179",
      "name": "Webhook Yaniti",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 0]
    }
  ],
  "connections": {
    "Analiz Tetikleyici": { "main": [[{ "node": "Input Dogrula", "type": "main", "index": 0 }]] },
    "Input Dogrula": { "main": [[{ "node": "Agent1 Prompt", "type": "main", "index": 0 }]] },
    "Agent1 Prompt": { "main": [[{ "node": "Agent1 - Rakip Kesfi", "type": "main", "index": 0 }]] },
    "Agent1 - Rakip Kesfi": { "main": [[{ "node": "Agent2 Prompt", "type": "main", "index": 0 }]] },
    "Agent2 Prompt": { "main": [[{ "node": "Agent2 - Strateji ve Rapor", "type": "main", "index": 0 }]] },
    "Agent2 - Strateji ve Rapor": { "main": [[{ "node": "Yanit Formatla", "type": "main", "index": 0 }]] },
    "Yanit Formatla": { "main": [[{ "node": "Webhook Yaniti", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
